.jumbotron {
    background-color: white;
    height: 10px;
}

.header-2{
    height: 300px;width: 100%;
    background-color: black;
    background-image: url('../assets/header.jpg');
    background-size: cover;
}

.color-white{
    color: white;
}

.align-center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}


.align-center-bottom {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.bottom-link {
    color:white !important;
    text-decoration: underline;
}

.yellow-separator {
    width: 20%;
    height: 2px;
    background-color: #ffd715 !important;
    margin-right: auto;
    margin-left: auto;
}

.card-body{
    background-color: #ffd715;
}
a.btn.btn-primary {
    background-color: white;
    border: 2px solid black;
    color: black;

}
.footer-img{
    height: 300px;width: 100%;
    background-color: black;
    background-image: url('../assets/footer.jpg');
    background-size: cover;
}

.roundWhiteButton{
    border-radius:50px;
    text-decoration : none;
    width: 70px;
    height: 70px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    margin-left: 10%;
}


.roundWhiteButton:hover{

    color: #ffd715;
    border: 2px solid #ffd715;
}